/* base*/

@import '../base/base.css';
@import '../base/layout.css';


/*3rd-praty*/

/* components */
@import '../components/button.css';

/* custom style goes below this comment  */
/* .hero {
    background-color: var(--primary-color) ;
    padding: var(--big);  pavyzdziai
}
.footer {
    background-color: var(--primary-color) ;
    padding: var(--small);    pavyzdziai 
} */